<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopee.tcm.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.shopee.tcm.service.entity.Project">
    <id column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="root_suite_id" jdbcType="BIGINT" property="rootSuiteId" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    project_id, created_by, created_time, root_suite_id, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from project
    where project_id = #{projectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from project
    where project_id = #{projectId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shopee.tcm.service.entity.Project">
    insert into project (project_id, created_by, created_time,
      root_suite_id, updated_by, updated_time
      )
    values (#{projectId,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
      #{rootSuiteId,jdbcType=BIGINT}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shopee.tcm.service.entity.Project">
    update project
    set created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      root_suite_id = #{rootSuiteId,jdbcType=BIGINT},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
</mapper>
