<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopee.tcm.dao.TestPlanMapper">
  <resultMap id="BaseResultMap" type="com.shopee.tcm.service.entity.TestPlan">
    <id column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="bug_list" jdbcType="VARCHAR" property="bugList" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="executor" jdbcType="VARCHAR" property="executor" />
    <result column="item_id_list" jdbcType="VARCHAR" property="itemIdList" />
    <result column="jira_links" jdbcType="VARCHAR" property="jiraLinks" />
    <result column="mm_channel" jdbcType="VARCHAR" property="mmChannel" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="stalk_group" jdbcType="VARCHAR" property="stalkGroup" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    plan_id, bug_list, created_by, created_time, end_date, executor, item_id_list, jira_links,
    mm_channel, plan_name, remark, stalk_group, start_date, status, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test_plan
    where plan_id = #{planId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from test_plan
    where plan_id = #{planId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shopee.tcm.service.entity.TestPlan">
    insert into test_plan (plan_id, bug_list, created_by,
      created_time, end_date, executor,
      item_id_list, jira_links, mm_channel,
      plan_name, remark, stalk_group,
      start_date, status, updated_by,
      updated_time)
    values (#{planId,jdbcType=BIGINT}, #{bugList,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
      #{createdTime,jdbcType=TIMESTAMP}, #{endDate,jdbcType=DATE}, #{executor,jdbcType=VARCHAR},
      #{itemIdList,jdbcType=VARCHAR}, #{jiraLinks,jdbcType=VARCHAR}, #{mmChannel,jdbcType=VARCHAR},
      #{planName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{stalkGroup,jdbcType=VARCHAR},
      #{startDate,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{updatedBy,jdbcType=VARCHAR},
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shopee.tcm.service.entity.TestPlan">
    update test_plan
    set bug_list = #{bugList,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=DATE},
      executor = #{executor,jdbcType=VARCHAR},
      item_id_list = #{itemIdList,jdbcType=VARCHAR},
      jira_links = #{jiraLinks,jdbcType=VARCHAR},
      mm_channel = #{mmChannel,jdbcType=VARCHAR},
      plan_name = #{planName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      stalk_group = #{stalkGroup,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where plan_id = #{planId,jdbcType=BIGINT}
  </update>
</mapper>
